<div class='col-md-10 row my-3 ml-2 mx-auto'>
  <div class='col-sm-3'>
    <%= image_tag user.image + "?s=100", class: 'img-fluid' %>
  </div>
  <div class='col-sm-5 d-flex'>
    <%= link_to user.first_name, user, class: 'align-self-center' %>
  </div>
</div>
