* {
    position: relative;
    right: 0px;
    left: 0px;
    top: 0px;
    buttom: 0px;
}

body {
    background: #e8ebee;
}

.navbar {
    background: #4267b3;
    }

.form-check-label {
    color: black;
}

.radio-buttons input[type=radio], label {
    padding-left: 10px;
    padding-right: 10px;
}

.radio-buttons input[type=radio] {
    margin-left: 5px;
}

.user_first_name {
    width: 48%;
    display: inline-block;
}

.user_last_name {
    width: 48%;
    display: inline-block;
    float: right;
}

.date {
    width: 70%;
    color: black;
}

.btn {
    border: 1px solid #2c5115;
    background: #69a74e;
    color: white;
}

#user-banner {
    height: 300px;
}

.form-inline input[type=email] {
    height: 25px;
    width: 150px;
    font-size: 0.8em;
    margin-left: 20px;
    border-radius: 0px;
}

.form-inline input[type=email], label {
    display: block;
    color: white;
    position: relative;
    left: 10px;
}

.form-inline input[type=password] {
    height: 25px;
    width: 150px;
    margin-left: 20px;
    border-radius: 0px;
}

.form-inline input[type=submit] {
    height: 25px;
    border-radius: 0px;
    margin-left: 20px;
    background: #4e6592;
    color: white;
    font-size: 0.8em;
    padding: 0px;
    border: 1px solid #3a5997;
    width: 50px;
}

.form-inline input[type=submit]:hover {
    background: #3a5997;
}
